.search
    position: absolute
    top: 20px
    right: 20px
    margin: 0 auto
    max-width: 300px
    
    &__field
        padding: 5px 10px
        border: none
        border-radius: 10px
        opacity: 0.8
        font-family: Gilroy


    